Redirect 301 /home,1,strona_glowna.html /
Redirect 301 /home,3,kontakt.html /
Redirect 301 /home,4,oferta.html /
Redirect 301 /home,25,miasta.html /
Redirect 301 /home,28,hydraulik_warszawa.html /
Redirect 301 /hydraulik-warszawa.html /
Redirect 301 /pogotowie-hydrauliczne.html /
Redirect 301 /pogotowie-hydrauliczne-warszawa/ /
Redirect 301 /instalacje-hydrauliczne.html /
Redirect 301 /instalacje-hydrauliczne-warszawa/ /
Redirect 301 /naprawy-hydrauliczne-warszawa/ /
Redirect 301 /montaz-i-naprawy.html /
Redirect 301 /feed/ /
