Redirect 301 /home,1,strona_glowna.html /
Redirect 301 /home,3,kontakt.html /
Redirect 301 /home,4,oferta.html /
Redirect 301 /home,25,miasta.html /
Redirect 301 /home,26,hydraulik_piaseczno.html /hydraulik-piaseczno/
Redirect 301 /home,27,hydraulik_pruszkow.html /hydraulik-pruszkow/
Redirect 301 /home,28,hydraulik_warszawa.html /
Redirect 301 /home,29,hydraulik_warszawa_bemowo.html /hydraulik-warszawa-bemowo/
Redirect 301 /home,30,hydraulik_warszawa_bialoleka.html /hydraulik-warszawa-bialoleka/
Redirect 301 /home,31,hydraulik_warszawa_bielany.html /hydraulik-warszawa-bielany/
Redirect 301 /home,32,hydraulik_warszawa_mokotow.html /hydraulik-warszawa-mokotow/
Redirect 301 /home,33,hydraulik_warszawa_ochota.html /hydraulik-warszawa-ochota/
Redirect 301 /home,34,hydraulik_warszawa_praga.html /hydraulik-warszawa-praga-polnoc/
Redirect 301 /home,35,hydraulik_warszawa_rembertow.html /hydraulik-warszawa-rembertow/
Redirect 301 /home,36,hydraulik_warszawa_srodmiescie.html /hydraulik-warszawa-srodmiescie/
Redirect 301 /home,37,hydraulik_warszawa_targowek.html /hydraulik-warszawa-targowek/
Redirect 301 /home,38,hydraulik_warszawa_ursus.html /hydraulik-warszawa-ursus/
Redirect 301 /home,39,hydraulik_warszawa_ursynow.html /hydraulik-warszawa-ursynow/
Redirect 301 /home,40,hydraulik_warszawa_wawer.html /hydraulik-warszawa-wawer/
Redirect 301 /home,41,hydraulik_warszawa_wesola.html /hydraulik-warszawa-wesola/
Redirect 301 /home,42,hydraulik_warszawa_wilanow.html /hydraulik-warszawa-wilanow/
Redirect 301 /home,43,hydraulik_warszawa_wlochy.html /hydraulik-warszawa-wlochy/
Redirect 301 /home,44,hydraulik_warszawa_wola.html /hydraulik-warszawa-wola/
Redirect 301 /home,45,hydraulik_warszawa_zoliborz.html /hydraulik-warszawa-zoliborz/
Redirect 301 /hydraulik-warszawa.html /
Redirect 301 /pogotowie-hydrauliczne.html /
Redirect 301 /pogotowie-hydrauliczne-warszawa/ /
Redirect 301 /instalacje-hydrauliczne.html /
Redirect 301 /instalacje-hydrauliczne-warszawa/ /
Redirect 301 /naprawy-hydrauliczne-warszawa/ /
Redirect 301 /montaz-i-naprawy.html /
Redirect 301 /feed/ /
